</div>
</div>
<footer class="content-block">
  <nav class="content-wrapper pure-g">
  	<div id="newsletter-signup" class="pure-u-1">
    	<img src="/resources/img/coloured-logo.png" alt="footer logo" class="logo"/>
    </div>
  </nav>
  <div class="content-wrapper pure-g">

  	
  	<div class="legal-info pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
      &copy; 2016 Ona Systems &amp; yɛlɛman<br />
      <span>
        Made with <i class="fa fa-heart"></i> in Nairobi, NYC and Bamako
      </span>
    </div>
    
  	<div class="legal-info pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
      <a href="/a-propos/">À propos</a> |
      <a href="https://help.ona.io/fr/">Centre d'aide</a> |
      <a href="https://ona.io/about-us.html">Ona Systems, Inc</a>
	</div>

  </div>
</footer>
</body>
</html>
